[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hextra-starter-template"]
	path = themes/hextra-starter-template
	url = https://github.com/imfing/hextra-starter-template.git
[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
